[Google-1]
email=xxxxx
password=xxxxx
gsfid=xxxxx

[Google-2]
email=xxxxx
password=xxxxx
gsfid=xxxx

[Google-3]
email=xxxxx
password=xxxxx
gsfid=xxxx

[Database]
host=xxxxx
database=xxxxx
user=xxxxx
password=xxxxx
